main .infoPessoal{
    margin: 2rem 0;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .infoPessoal span{
    width: 98%;
    height: 2px;
    border-bottom: 2px solid black;
}

main .servicos{
    display: flex;
    justify-content: space-around;
}

main .servicos form{
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 2px solid greenyellow;
    padding: 2rem;
    border-radius: 3px;
}

main .servicos form input{
    margin: 1rem 0;
    width: 97%;
}